<a href="https://colab.research.google.com/github/efburgosr/MetNumUN2021II/blob/main/Lab1/efburgosr_lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [6]:
my_string1 = 'Bienvenido a'
my_string2 = "QuantConnect"
my_string3 = "and  Google Colab"
print(my_string1 + ' ' + my_string2 + ' ' + my_string3)

Bienvenido a QuantConnect and  Google Colab

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [7]:
my_int = 12
print(my_int)
print(type(my_int))

12
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [8]:
my_string = "89"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [9]:
my_string = "89"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [10]:
my_bool = True
print(my_bool)
print(type(my_bool))

True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [11]:
print("Addition ", 1+1 + 2)
print("Subtraction ", 5-2-9)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  4
Subtraction  -6
Multiplication  6
Division  5.0
exponent 8

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [12]:
print(2/3)
print(2.0/3)

0.6666666666666666
0.6666666666666666

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [12]:
my_list = ['Quant', 'Connect']#, 1,2,3]
print(my_list)

['Quant', 'Connect']

In [13]:
my_list = ['Colab', 'Google']#, 1,2,3,4,5]
my_list_2 = [1,2,3,4,5]
print(my_list)
print(my_list_2)

['Colab', 'Google']
[1, 2, 3, 4, 5]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [14]:
my_list = ['Colab', 'Google', 1,2,3,4,5,6]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

8
Colab
6

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [15]:
my_list = ['Colab','Google',1,2,3,4]
my_list[2] = 0
print(my_list)

['Colab', 'Google', 0, 2, 3, 4]

A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [16]:
my_list = ['Quant','Connect',1,2,3,4,5,6,7]
print(my_list[1:4])

['Connect', 1, 2]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:])

['Connect', 1, 2, 3]

In [17]:
print(my_list[3:])

[2, 3, 4, 5, 6, 7]

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3])

['Quant', 'Connect', 1]

In [18]:
print(my_list[:4])

['Quant', 'Connect', 1, 2]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [19]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
my_list.append('other')
print(my_list)

['Hello', 'Quant', 'Hello', 'other']

In [ ]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Hello']

In [20]:
my_list.remove('Quant')
print(my_list)

['Hello', 'Hello', 'other']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')

In [21]:
my_tuple = ('Welcome','to','GoogleColab')

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [22]:
my_tuple = ('Welcome','to','GoogleColab')
print(my_tuple[2:])

('GoogleColab',)

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'FB', 'IBM', 'AAPL', 'GOOG', 'F'}

In [23]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG','VAL1', 'VAL1']
stock_set = set(stock_list)
print(stock_set)

{'FB', 'IBM', 'VAL1', 'AAPL', 'GOOG', 'F'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [24]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet', 'keyMYDIC': 'Mi diccionario'}

In [ ]:
print(my_dic['GOOG'])

Alphabet

In [25]:
print(my_dic['keyMYDIC'])

Mi diccionario

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [26]:
my_dic['keyMYDIC'] = 'Valor cambiado ok'
print(my_dic['keyMYDIC'])

Valor cambiado ok

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [27]:
 print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG', 'keyMYDIC'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [28]:
my_str = 'Welcome to QuantConnect'
print(my_str[3:])

come to QuantConnect

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

In [29]:
print('Counting the number of e appears in this sentence'.count('n'))
print('The first time e appears in this sentence'.find('a'))
print('all the a in this sentence now becomes e'.replace('e','u'))

6
17
all thu a in this suntuncu now bucomus u

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [30]:
Time = '2021-04-01 08:24:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2021-04-01 08:24:00
08

We can replace parts of a string by our variable. This is called string formatting.

In [42]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

In [31]:
my_time = 'Hour: {}, Minute:{}'.format('08','40')
print(my_time)

Hour: 08, Minute:40

Another way to format a string is to use the % symbol.

In [ ]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

In [32]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','GoogleColab'))
print('%s to %s and %s'%('Welcome','GoogleColab', 'QuantConnect'))

the pi number is 3.140000
Welcome to GoogleColab
Welcome to GoogleColab and QuantConnect

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

In [33]:
print(1 == 1)
print(1 == 5)
print(1 != 1)
print(5 >= 9)
print(6 >= 6)

True
False
False
False
True

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [34]:
print(2 > 1 and 3 > 4)
print(3 > 1 and 3 < 2) 
print(1 > 1 or 3 < 2)
print(6 < 1 and 3 < 2)

False
False
False
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [35]:
print((4 > 2 or 2 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (4!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

In [36]:
i = 1
if i == 1:
    print('i==1 is True')

i==1 is True

As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [37]:
p = 2 > 0
q = 3 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [38]:
i = 0
while i < 20:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [39]:
for i in [1,2,3,4,5,11,55,22]:
    print(i)

1
2
3
4
5
11
55
22

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

In [40]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','FB']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

In [41]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'GOOG':
        break

AAPL
GOOG

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

In [42]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'IBM':
        continue
    print(i)

AAPL
GOOG
FB
F
V
G
GE

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

In [43]:
squares = []
for i in [1,2,3,4,5, 123, 435]:
    squares.append(i**10)
print(squares)

[1, 1024, 59049, 1048576, 9765625, 792594609605189126649, 242600990421323914541015625]

Using list comprehension:

In [ ]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)

[1, 4, 9, 16, 25]

In [44]:
list = [1,2,3,4,5, 123]
squares = [x**12 for x in list]
print(squares)

[1, 4096, 531441, 16777216, 244140625, 11991163848716906297072721]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

In [45]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','G']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'G']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [46]:
print([(x, y) for x in [1,5,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (5, 3), (5, 1), (5, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [47]:
def product(x,y):
    return x+y
print(product(2,3))
print(product(5,10))

5
15

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [48]:
def say_hi():
    print('Welcome to QuantConnect AND GOOGLECOLAB')
say_hi()

Welcome to QuantConnect AND GOOGLECOLAB

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

In [49]:
print(range(5))
print(range(1,21))
print(range(1,11,2))

range(0, 5)
range(1, 21)
range(1, 11, 2)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

In [50]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE', 'K', 'U']
print('La longitud de los tickers es {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

La longitud de los tickers es 10
AAPL
GOOG
IBM
FB
F
V
G
GE
K
U

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [ ]:
print(list)
del list
list

[1, 2, 3, 4, 5]

list

In [51]:
print(list)
del list
list

[1, 2, 3, 4, 5, 123]

list

In [52]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
list(map(len,tickers))

[4, 4, 3, 2, 1, 1, 1, 2]

In [53]:
tickers = ['UP','GOOG','IBM','FB','F','V', 'G', 'GE']
list(map(len,tickers))

[2, 4, 3, 2, 1, 1, 1, 2]

In [54]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [55]:
tickers = ['up','GOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[2, 3, 3, 2, 1, 1, 1, 2]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [56]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [57]:
list(map(lambda x: x**2, range(20)))

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

map() can be applied to more than one list. The lists have to have the same length.

In [58]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

In [59]:
list(map(lambda x, y: x-y, [1,2,3,4,5],[5,4,3,2,1]))

[-4, -2, 0, 2, 4]

**sorted()** takes a list or set and returns a new sorted list

In [60]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [61]:
sorted([6,8,5,2,3,4,1])

[1, 2, 3, 4, 5, 6, 8]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [62]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [63]:
price_list = [('AAPL',14.09),('GOOG',1.71),('MSFT',9),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('GOOG', 1.71), ('MSFT', 9), ('AAPL', 14.09), ('WMT', 75.32), ('FB', 150)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [64]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

In [65]:
price_list = [('AAPL',14.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',5.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('MSFT', 69), ('AAPL', 14.09), ('WMT', 5.32)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [66]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [67]:
price_list = [('PL',144.09),('OG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)
print("Ordena la lista por Valor")

[('MSFT', 69), ('WMT', 75.32), ('PL', 144.09), ('FB', 150), ('OG', 911.71)]
Ordena la lista por Valor

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [68]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

In [69]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [70]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

In [71]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [72]:
apple.ticker
google.print_return()
google.update(911.8,911.4)
google.print_return()

0.014465338822744034
-0.00043869269576657377

In [73]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

-0.00043869269576657377
0.0006573181419806673

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [74]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [75]:
apple.ceo = 'New Tim Cook'
apple.ceo

'New Tim Cook'

In [76]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [77]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [78]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [79]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [80]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

In [81]:
aa = child('nombre')
print(aa.name)
aa.update(101,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

nombre
101
102
0.00990099009900991
None

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [ ]:
import numpy as np

In [82]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [ ]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [83]:
price_list = [123.73, 123.83, 123.68, 124.02, 123.5, 122.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[123.73 123.83 123.68 124.02 123.5  122.62] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [84]:
Ar = np.array([[2,3,5],[5,4,0],[2,8,1]])
print(Ar, type(Ar))

[[2 3 5]
 [5 4 0]
 [2 8 1]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [98]:
print(Ar.shape)

(3, 3)

In [85]:
print(Ar.shape)

(3, 3)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

In [86]:
print(Ar[0])
print(Ar[1])
print(Ar[2])

[2 3 5]
[5 4 0]
[2 8 1]

If we want to access the matrix by column instead:

In [ ]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

In [87]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])
print('the third column: ', Ar[:,2])

the first column:  [2 5 2]
the second column:  [3 4 8]
the third column:  [5 0 1]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

In [88]:
print(np.log(price_array))

[4.81810177 4.81890966 4.81769758 4.82044284 4.81624116 4.80909014]

Other functions return a single value:

In [ ]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [89]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

123.56333333333333
0.4499876541516302
741.38
124.02

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [ ]:
import pandas as pd

In [90]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [91]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [92]:
price = [123.73, 125.83, 123.68, 124.02, 123.5, 122.62]
s = pd.Series(price)
s

0    123.73
1    125.83
2    123.68
3    124.02
4    123.50
5    122.62
dtype: float64

We can customize the indices of a new Series:

In [ ]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [93]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    123.73
b    125.83
c    123.68
d    124.02
e    123.50
f    122.62
dtype: float64

Or we can change the indices of an existing Series:

In [ ]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [94]:
s.index = [6,5,4,3,2,1]
s

6    123.73
5    125.83
4    123.68
3    124.02
2    123.50
1    122.62
dtype: float64

Series is like a list since it can be sliced by index:

In [ ]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [95]:
print(s[1:])
print(s[:-2])

5    125.83
4    123.68
3    124.02
2    123.50
1    122.62
dtype: float64
6    123.73
5    125.83
4    123.68
3    124.02
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [ ]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [96]:
print(s[2])
s[2] = 0
print(s)

123.5
6    123.73
5    125.83
4    123.68
3    124.02
2      0.00
1    122.62
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [97]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    123.73
1    125.83
2    123.68
3    124.02
4    123.50
5    122.62
Name: Apple Price List, dtype: float64
Apple Price List

In [98]:
s = pd.Series(price, name = 'Lista de precios de Apple')
print(s)
print(s.name)

0    123.73
1    125.83
2    123.68
3    124.02
4    123.50
5    122.62
Name: Lista de precios de Apple, dtype: float64
Lista de precios de Apple

We can get the statistical summaries of a Series:

In [99]:
print(s.describe())

count      6.000000
mean     123.896667
std        1.059711
min      122.620000
25%      123.545000
50%      123.705000
75%      123.947500
max      125.830000
Name: Lista de precios de Apple, dtype: float64

In [100]:
print(s.describe())

count      6.000000
mean     123.896667
std        1.059711
min      122.620000
25%      123.545000
50%      123.705000
75%      123.947500
max      125.830000
Name: Lista de precios de Apple, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [ ]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

In [101]:
time_index = pd.date_range('2018-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')
2018-01-01    123.73
2018-01-02    125.83
2018-01-03    123.68
2018-01-04    124.02
2018-01-05    123.50
2018-01-06    122.62
Freq: D, Name: Lista de precios de Apple, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [ ]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

In [102]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    123.73
5    125.83
4    123.68
3    124.02
2    123.50
1    122.62
Name: Lista de precios de Apple, dtype: float64
122.62

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [ ]:
print(s.iloc[1])

145.83

In [103]:
print(s.iloc[3])

124.02

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [ ]:
s.index = time_index
print(s['2017-01-03'])

143.68

In [104]:
s.index = time_index
print(s['2018-01-03'])

123.68

We can even access to a range of dates:

In [ ]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

In [105]:
print(s['2018-01-02':'2018-01-05'])

2018-01-02    125.83
2018-01-03    123.68
2018-01-04    124.02
2018-01-05    123.50
Freq: D, Name: Lista de precios de Apple, dtype: float64

In [ ]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

In [106]:
print(s['2018-01-02':'2018-01-05'])

2018-01-02    125.83
2018-01-03    123.68
2018-01-04    124.02
2018-01-05    123.50
Freq: D, Name: Lista de precios de Apple, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [ ]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

In [107]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.34*np.std(s))])

2018-01-01    123.73
2018-01-03    123.68
2018-01-05    123.50
2018-01-06    122.62
Name: Lista de precios de Apple, dtype: float64
[2018-01-01    False
2018-01-02    False
2018-01-03    False
2018-01-04     True
2018-01-05    False
2018-01-06    False
Freq: D, Name: Lista de precios de Apple, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [ ]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.64.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 19.3 MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.64-py2.py3-none-any.whl size=24109 sha256=7c1e0b6c04ba032b5df6b79cf742e39b2b6b369b5d461e7db9e6f1780d88c041
  Stored in directory: /root/.cache/pip/wheels/86/fe/9b/a4d3d78796b699e37065e5b6c27b75cff448ddb8b24943c288
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.64

In [108]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.64)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)

In [ ]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 170, 'currentPrice': 148.36, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 40, 'targetMeanPrice': 168.89, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.8, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.293, 'beta3Year': None, 'enterpriseToEbitda': 22.821, '52WeekChange': 0.29239464, 'morningStarRiskRating': None, 'forwardEps': 5.68, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.58671004, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.33635402, 'priceToBook': 38.217415, 'heldPercentInsiders': 0.00072999997, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16513139929, 'beta': 1.222222, 'enterpriseValue': 2531665379328, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 7.064338, 'dateShortInterest': 1632960000, 'pegRatio': 1.34, 'ytdReturn': None, 'forwardPE': 26.119719, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 148.69, 'regularMarketOpen': 148.68, 'twoHundredDayAverage': 139.49467, 'trailingAnnualDividendYield': 0.0056157103, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 149.37, 'navPrice': None, 'averageDailyVolume10Day': 68088783, 'regularMarketPreviousClose': 148.69, 'fiftyDayAverage': 145.9303, 'trailingAnnualDividendRate': 0.835, 'open': 148.68, 'toCurrency': None, 'averageVolume10days': 68088783, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 147.92, 'currency': 'USD', 'trailingPE': 29.044638, 'regularMarketVolume': 10036145, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2452420296704, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 75838454, 'dayLow': 147.92, 'ask': 148.39, 'askSize': 1200, 'volume': 10036145, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 148.38, 'tradeable': False, 'dividendYield': 0.0058999998, 'bidSize': 900, 'dayHigh': 149.37, 'regularMarketPrice': 148.36, 'preMarketPrice': 148.69, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655163  24.291439  23.514536  ...  270597600        0.0             0
2016-01-05  24.379045  24.402098  23.609059  ...  223164000        0.0             0
2016-01-06  23.182573  23.599842  23.023505  ...  273829600        0.0             0
2016-01-07  22.749158  23.083433  22.230456  ...  324377600        0.0             0
2016-01-08  22.719195  22.848294  22.306538  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827756  42.004953  41.784656  ...   65397600        0.0             0
2017-12-26  40.898682  41.059116  40.630492  ...  132742000        0.0             0
2017-12-27  40.731054  40.893880  40.637667  ...   85992800        0.0             0
2017-12-28  40.946572  41.150109  40.822055  ...   65920800        0.0             0
2017-12-29  40.831625  40.848385  40.520335  ...  103999600        0.0             0

[503 rows x 7 columns]

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [109]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2017-01-01",  end="2018-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 154000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408 996 1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.32867, 'profitMargins': 0.25882, 'grossMargins': 0.41779, 'operatingCashflow': 104037998592, 'revenueGrowth': 0.288, 'operatingMargins': 0.29782, 'ebitda': 120233000960, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 152836000000, 'freeCashflow': 73295003648, 'targetMedianPrice': 170, 'currentPrice': 148.96, 'earningsGrowth': 0.662, 'currentRatio': 1.075, 'returnOnAssets': 0.20179, 'numberOfAnalystOpinions': 40, 'targetMeanPrice': 169.06, 'debtToEquity': 216.392, 'returnOnEquity': 1.47443, 'targetHighPrice': 190, 'totalCash': 62639001600, 'totalDebt': 136521998336, 'totalRevenue': 365817004032, 'totalCashPerShare': 3.818, 'financialCurrency': 'USD', 'revenuePerShare': 21.904, 'quickRatio': 0.91, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 6.883, 'beta3Year': None, 'enterpriseToEbitda': 20.941, '52WeekChange': 0.35639262, 'morningStarRiskRating': None, 'forwardEps': 6.07, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16406400000, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.841, 'sharesShort': 100881318, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1632528000, 'heldPercentInstitutions': 0.58625, 'netIncomeToCommon': 94679998464, 'trailingEps': 5.61, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.36692226, 'priceToBook': 38.781567, 'heldPercentInsiders': 0.00071999995, 'nextFiscalYearEnd': 1695600000, 'yield': None, 'mostRecentQuarter': 1632528000, 'shortRatio': 1.25, 'sharesShortPreviousMonthDate': 1631664000, 'floatShares': 16389334347, 'beta': 1.222222, 'enterpriseValue': 2517779873792, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.622, 'priceToSalesTrailing12Months': 6.680656, 'dateShortInterest': 1634256000, 'pegRatio': 1.7, 'ytdReturn': None, 'forwardPE': 24.540363, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 100926641, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 149.8, 'regularMarketOpen': 148.985, 'twoHundredDayAverage': 140.16942, 'trailingAnnualDividendYield': 0.0056742323, 'payoutRatio': 0.1515, 'volume24Hr': None, 'regularMarketDayHigh': 149.7, 'navPrice': None, 'averageDailyVolume10Day': 78527440, 'regularMarketPreviousClose': 149.8, 'fiftyDayAverage': 145.59914, 'trailingAnnualDividendRate': 0.85, 'open': 148.985, 'toCurrency': None, 'averageVolume10days': 78527440, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1636070400, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 147.8, 'currency': 'USD', 'trailingPE': 26.552586, 'regularMarketVolume': 74588258, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2443897470976, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 75360573, 'dayLow': 147.8, 'ask': 148.53, 'askSize': 1200, 'volume': 74588258, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.22, 'fiftyTwoWeekLow': 108.73, 'bid': 148.5, 'tradeable': False, 'dividendYield': 0.0058999998, 'bidSize': 1300, 'dayHigh': 149.7, 'regularMarketPrice': 148.96, 'preMarketPrice': None, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2017-01-03  27.289880  27.414782  27.044789  ...  115127600        0.0             0
2017-01-04  27.301666  27.457205  27.278100  ...   84472400        0.0             0
2017-01-05  27.318158  27.539682  27.292234  ...   88774400        0.0             0
2017-01-06  27.520829  27.846046  27.447774  ...  127007600        0.0             0
2017-01-09  27.796554  28.145338  27.794199  ...  134247600        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2018-12-21  38.124597  38.440561  36.367357  ...  382978400        0.0             0
2018-12-24  36.007643  36.834010  35.628488  ...  148676800        0.0             0
2018-12-26  36.044104  38.214526  35.660087  ...  234330000        0.0             0
2018-12-27  37.876693  38.102730  36.474306  ...  212468400        0.0             0
2018-12-28  38.280154  38.528065  37.563161  ...  169165600        0.0             0

[501 rows x 7 columns]

In [ ]:
aapl = aapl_table['Close']['2017']

In [110]:
aapl = aapl_table['Close']['2018']

In [ ]:
print(aapl)

Date
2017-01-03    27.372364
2017-01-04    27.341724
2017-01-05    27.480768
2017-01-06    27.787132
2017-01-09    28.041645
                ...
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850777
2017-12-28    40.965721
2017-12-29    40.522736
Name: Close, Length: 251, dtype: float64

In [111]:
print(aapl)

Date
2018-01-02    41.248276
2018-01-03    41.241096
2018-01-04    41.432652
2018-01-05    41.904373
2018-01-08    41.748737
                ...
2018-12-21    36.634708
2018-12-24    35.686821
2018-12-26    38.199944
2018-12-27    37.952038
2018-12-28    37.971481
Name: Close, Length: 250, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [ ]:
print(aapl['2017-3'])

Date
2017-03-01    33.086281
2017-03-02    32.889839
2017-03-03    33.083920
2017-03-06    32.979778
2017-03-07    33.022373
2017-03-08    32.899296
2017-03-09    32.823563
2017-03-10    32.932434
2017-03-13    32.946640
2017-03-14    32.896942
2017-03-15    33.244865
2017-03-16    33.299305
2017-03-17    33.133617
2017-03-20    33.481544
2017-03-21    33.098122
2017-03-22    33.472084
2017-03-23    33.353741
2017-03-24    33.287464
2017-03-27    33.344276
2017-03-28    34.035393
2017-03-29    34.111141
2017-03-30    34.066158
2017-03-31    34.002254
Name: Close, dtype: float64

In [112]:
print(aapl['2018-3'])

Date
2018-03-01    42.075230
2018-03-02    42.366150
2018-03-05    42.512814
2018-03-06    42.476753
2018-03-07    42.082432
2018-03-08    42.541668
2018-03-09    43.272568
2018-03-12    43.690910
2018-03-13    43.270164
2018-03-14    42.902306
2018-03-15    42.952789
2018-03-16    42.801327
2018-03-19    42.147350
2018-03-20    42.132935
2018-03-21    41.178421
2018-03-22    40.596588
2018-03-23    39.656502
2018-03-26    41.539070
2018-03-27    40.473969
2018-03-28    40.026768
2018-03-29    40.339317
Name: Close, dtype: float64

In [ ]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341726
2017-02-02    30.289885
2017-02-03    30.419493
2017-02-06    30.704651
2017-02-07    30.996870
                ...
2017-04-24    33.997528
2017-04-25    34.208179
2017-04-26    34.006985
2017-04-27    34.033024
2017-04-28    33.999889
Name: Close, Length: 61, dtype: float64

In [113]:
aapl['2018-2':'2018-4']

Date
2018-02-01    40.175518
2018-02-02    38.432301
2018-02-05    37.472099
2018-02-06    39.038120
2018-02-07    38.202427
                ...
2018-04-24    39.175644
2018-04-25    39.346348
2018-04-26    39.483391
2018-04-27    39.026577
2018-04-30    39.733444
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [ ]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372364
2017-01-04    27.341724
2017-01-05    27.480768
2017-01-06    27.787132
2017-01-09    28.041645
Name: Close, dtype: float64
Date
2017-12-15    41.657745
2017-12-18    42.244392
2017-12-19    41.794228
2017-12-20    41.748734
2017-12-21    41.906776
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850777
2017-12-28    40.965721
2017-12-29    40.522736
Name: Close, dtype: float64

In [114]:
print(aapl.head(3))
print(aapl.tail(6))

Date
2018-01-02    41.248276
2018-01-03    41.241096
2018-01-04    41.432652
Name: Close, dtype: float64
Date
2018-12-20    38.117306
2018-12-21    36.634708
2018-12-24    35.686821
2018-12-26    38.199944
2018-12-27    37.952038
2018-12-28    37.971481
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [ ]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178332
2017-02-28    31.606276
2017-03-31    33.282219
2017-04-30    33.819262
2017-05-31    36.125686
2017-06-30    35.133984
2017-07-31    35.245242
2017-08-31    37.897228
2017-09-30    37.604739
2017-10-31    37.654550
2017-11-30    41.233914
2017-12-31    41.160038
Freq: M, Name: Close, dtype: float64

In [115]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2018-01-31    41.666180
2018-02-28    40.255955
2018-03-31    41.954097
2018-04-30    40.833236
2018-05-31    44.719292
2018-06-30    45.525102
2018-07-31    45.932997
2018-08-31    51.619829
2018-09-30    53.787015
2018-10-31    53.489583
2018-11-30    46.437511
2018-12-31    40.012815
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [ ]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495497
2017-01-15    28.097734
2017-01-22    28.266116
2017-01-29    28.553982
2017-02-05    29.662543
Freq: W-SUN, Name: Close, dtype: float64

In [116]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2018-01-07    41.456599
2018-01-14    41.920663
2018-01-21    42.683205
2018-01-28    41.707069
2018-02-04    39.779945
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [ ]:
aapl.resample('M').max()

Date
2017-01-31    28.739218
2017-02-28    32.451969
2017-03-31    34.111141
2017-04-30    34.264977
2017-05-31    37.099133
2017-06-30    36.944649
2017-07-31    36.471699
2017-08-31    39.129719
2017-09-30    39.141655
2017-10-31    40.332241
2017-11-30    42.050140
2017-12-31    42.244392
Freq: M, Name: Close, dtype: float64

In [117]:
aapl.resample('M').max()

Date
2018-01-31    42.924450
2018-02-28    43.029728
2018-03-31    43.690910
2018-04-30    42.854225
2018-05-31    45.691296
2018-06-30    46.818432
2018-07-31    47.021179
2018-08-31    55.132778
2018-09-30    55.309582
2018-10-31    56.208168
2018-11-30    53.822449
2018-12-31    44.920235
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [ ]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398286
2017-01-06    27.787132
2017-01-09    28.110774
2017-01-12    28.078175
2017-01-15    28.279665
                ...
2017-12-17    42.019310
2017-12-20    41.854095
2017-12-23          NaN
2017-12-26    40.886700
2017-12-29    40.522736
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495497
2017-01-22    28.172571
2017-02-05    29.108263
2017-02-19    31.516817
2017-03-05    32.595556
2017-03-19    33.017881
2017-04-02    33.625218
2017-04-16    33.849726
2017-04-30    33.791843
2017-05-14    35.697633
2017-05-28    36.496181
2017-06-11    36.515007
2017-06-25    34.529047
2017-07-09    34.265135
2017-07-23    35.278873
2017-08-06    36.272775
2017-08-20    37.904119
2017-09-03    38.458793
2017-09-17    38.282708
2017-10-01    36.840876
2017-10-15    37.071593
2017-10-29    37.757321
2017-11-12    41.032237
2017-11-26    41.204375
2017-12-10    40.867067
2017-12-24    41.620866
2018-01-07    40.795709
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524054
2017-05-31    35.056855
2017-07-31    35.186964
2017-09-30    37.761187
2017-11-30    39.402611
2018-01-31    41.160038
Freq: 2M, Name: Close, dtype: float64

In [118]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2018-01-02    41.307341
2018-01-05    41.904373
2018-01-08    41.742352
2018-01-11    42.188131
2018-01-14    42.189335
                ...
2018-12-16    40.104233
2018-12-19    37.952031
2018-12-22    35.686821
2018-12-25    38.075991
2018-12-28    37.971481
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2018-01-07    41.456599
2018-01-21    42.259571
2018-02-04    40.743507
2018-02-18    39.139214
2018-03-04    42.144952
2018-03-18    42.850373
2018-04-01    40.898991
2018-04-15    41.172895
2018-04-29    40.603557
2018-05-13    43.507641
2018-05-27    45.277366
2018-06-10    46.039920
2018-06-24    45.499657
2018-07-08    44.673570
2018-07-22    46.032817
2018-08-05    47.347004
2018-08-19    50.782590
2018-09-02    53.054185
2018-09-16    54.176341
2018-09-30    53.436622
2018-10-14    54.361358
2018-10-28    53.057090
2018-11-11    50.955028
2018-11-25    45.100361
2018-12-09    43.010144
2018-12-23    39.913920
2019-01-06    37.452571
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2018-01-31    41.666180
2018-03-31    41.147479
2018-05-31    42.821451
2018-07-31    45.729050
2018-09-30    52.600223
2018-11-30    50.123821
2019-01-31    40.012815
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [ ]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203368
2017-01-15    0.072530
2017-01-22    0.025554
2017-01-29    0.245288
2017-02-05    0.943260
2017-02-12    0.252001
2017-02-19    0.231394
2017-02-26    0.059345
2017-03-05    0.340094
2017-03-12    0.076284
2017-03-19    0.177834
2017-03-26    0.157262
2017-04-02    0.319806
2017-04-09    0.128689
2017-04-16    0.212476
2017-04-23    0.174672
2017-04-30    0.090027
2017-05-07    0.235639
2017-05-14    0.352980
2017-05-21    0.536091
2017-05-28    0.060392
2017-06-04    0.281225
2017-06-11    0.620034
2017-06-18    0.382564
2017-06-25    0.128893
2017-07-02    0.264113
2017-07-09    0.158890
2017-07-16    0.404281
2017-07-23    0.124988
2017-07-30    0.384441
2017-08-06    0.924388
2017-08-13    0.467469
2017-08-20    0.435251
2017-08-27    0.275762
2017-09-03    0.251722
2017-09-10    0.381637
2017-09-17    0.294141
2017-09-24    0.735195
2017-10-01    0.354840
2017-10-08    0.204857
2017-10-15    0.118733
2017-10-22    0.517001
2017-10-29    0.680452
2017-11-05    0.560686
2017-11-12    0.190971
2017-11-19    0.436199
2017-11-26    0.563047
2017-12-03    0.427439
2017-12-10    0.073130
2017-12-17    0.205266
2017-12-24    0.194120
2017-12-31    0.190390
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787132
2017-01-15    28.220753
2017-01-22    28.279665
2017-01-29    28.739218
2017-02-05    30.419493
2017-02-12    31.341911
2017-02-19    32.122974
2017-02-26    32.451969
2017-03-05    33.086281
2017-03-12    33.022373
2017-03-19    33.299305
2017-03-26    33.481544
2017-04-02    34.111141
2017-04-09    34.264977
2017-04-16    33.886284
2017-04-23    33.713501
2017-04-30    34.208179
2017-05-07    35.256695
2017-05-14    37.099133
2017-05-21    37.004063
2017-05-28    36.597664
2017-06-04    36.944649
2017-06-11    36.925632
2017-06-18    34.838963
2017-06-25    34.779545
2017-07-02    34.658337
2017-07-09    34.266190
2017-07-16    35.421230
2017-07-23    35.891800
2017-07-30    36.471699
2017-08-06    37.346291
2017-08-13    38.277939
2017-08-20    38.557095
2017-08-27    38.170567
2017-09-03    39.141655
2017-09-10    38.671623
2017-09-17    38.533234
2017-09-24    37.872326
2017-10-01    36.798645
2017-10-08    37.075409
2017-10-15    37.457165
2017-10-22    38.287479
2017-10-29    38.903053
2017-11-05    41.157795
2017-11-12    42.050140
2017-11-19    41.657745
2017-11-26    41.897190
2017-12-03    41.686470
2017-12-10    40.659222
2017-12-17    41.657745
2017-12-24    42.244392
2017-12-31    40.965721
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341724
2017-01-15    28.041645
2017-01-22    28.227821
2017-01-29    28.272598
2017-02-05    28.597816
2017-02-12    30.704651
2017-02-19    31.547823
2017-02-26    32.314690
2017-03-05    32.409355
2017-03-12    32.823563
2017-03-19    32.896942
2017-03-26    33.098122
2017-04-02    33.344276
2017-04-09    33.926514
2017-04-16    33.384510
2017-04-23    33.296936
2017-04-30    33.997528
2017-05-07    34.681545
2017-05-14    36.215267
2017-05-21    35.708805
2017-05-28    36.443184
2017-06-04    36.305332
2017-06-11    35.406971
2017-06-18    33.812263
2017-06-25    34.463455
2017-07-02    34.147358
2017-07-09    33.921577
2017-07-16    34.475338
2017-07-23    35.544815
2017-07-30    35.530552
2017-08-06    35.347557
2017-08-13    37.058720
2017-08-20    37.578846
2017-08-27    37.509666
2017-09-03    38.526081
2017-09-10    37.848465
2017-09-17    37.764950
2017-09-24    36.240326
2017-10-01    35.920620
2017-10-08    36.619694
2017-10-15    37.182777
2017-10-22    37.216179
2017-10-29    37.261517
2017-11-05    39.778702
2017-11-12    41.575333
2017-11-19    40.486816
2017-11-26    40.702312
2017-12-03    40.582603
2017-12-10    40.470051
2017-12-17    41.114185
2017-12-24    41.748734
2017-12-31    40.522736
Freq: W-SUN, Name: Close, dtype: float64

In [119]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2018-01-07    0.311403
2018-01-14    0.288312
2018-01-21    0.339490
2018-01-28    0.684510
2018-02-04    0.758768
2018-02-11    0.744480
2018-02-18    1.116748
2018-02-25    0.465712
2018-03-04    0.400878
2018-03-11    0.431228
2018-03-18    0.362398
2018-03-25    1.060446
2018-04-01    0.656805
2018-04-08    0.610086
2018-04-15    0.439084
2018-04-22    1.237680
2018-04-29    0.272098
2018-05-06    1.748038
2018-05-13    0.500233
2018-05-20    0.218412
2018-05-27    0.139075
2018-06-03    0.354981
2018-06-10    0.248004
2018-06-17    0.301032
2018-06-24    0.361401
2018-07-01    0.311578
2018-07-08    0.438547
2018-07-15    0.330694
2018-07-22    0.137874
2018-07-29    0.395859
2018-08-05    2.142135
2018-08-12    0.218422
2018-08-19    0.863346
2018-08-26    0.110552
2018-09-02    0.949397
2018-09-09    0.791677
2018-09-16    0.747899
2018-09-23    0.226394
2018-09-30    0.585075
2018-10-07    0.688865
2018-10-14    1.254903
2018-10-21    0.619544
2018-10-28    0.764156
2018-11-04    1.401455
2018-11-11    0.865057
2018-11-18    0.706504
2018-11-25    1.381394
2018-12-02    0.730030
2018-12-09    1.637513
2018-12-16    0.492021
2018-12-23    1.481742
2018-12-30    1.182536
Freq: W-SUN, Name: Close, dtype: float64
Date
2018-01-07    41.904373
2018-01-14    42.404839
2018-01-21    42.924450
2018-01-28    42.392860
2018-02-04    40.218632
2018-02-11    39.038120
2018-02-18    41.591965
2018-02-25    42.195446
2018-03-04    43.029728
2018-03-11    43.272568
2018-03-18    43.690910
2018-03-25    42.147350
2018-04-01    41.539070
2018-04-08    41.546284
2018-04-15    42.010315
2018-04-22    42.854225
2018-04-29    39.728634
2018-05-06    44.198223
2018-05-13    45.691296
2018-05-20    45.418552
2018-05-27    45.515106
2018-06-03    45.915756
2018-06-10    46.818432
2018-06-17    46.408127
2018-06-24    45.553719
2018-07-01    44.771721
2018-07-08    45.367878
2018-07-15    46.178833
2018-07-22    46.311581
2018-07-29    47.021179
2018-08-05    50.199844
2018-08-12    50.460514
2018-08-19    52.698627
2018-08-26    52.354698
2018-09-02    55.132778
2018-09-09    55.309582
2018-09-16    54.837288
2018-09-23    53.292023
2018-09-30    54.675011
2018-10-07    56.208168
2018-10-14    54.948700
2018-10-21    53.805496
2018-10-28    53.945972
2018-11-04    53.822449
2018-11-11    50.850613
2018-11-18    47.192738
2018-11-25    45.173004
2018-12-02    43.977207
2018-12-09    44.920235
2018-12-16    41.549149
2018-12-23    40.363079
2018-12-30    38.199944
Freq: W-SUN, Name: Close, dtype: float64
Date
2018-01-07    41.241096
2018-01-14    41.734364
2018-01-21    42.189335
2018-01-28    40.972908
2018-02-04    38.432301
2018-02-11    37.151230
2018-02-18    39.120346
2018-02-25    41.130337
2018-03-04    42.075230
2018-03-11    42.082432
2018-03-18    42.801327
2018-03-25    39.656502
2018-04-01    40.026768
2018-04-08    40.074852
2018-04-15    40.885101
2018-04-22    39.844040
2018-04-29    39.026577
2018-05-06    39.733444
2018-05-13    44.517998
2018-05-20    44.967224
2018-05-27    45.172379
2018-06-03    45.102379
2018-06-10    46.268135
2018-06-17    45.577850
2018-06-24    44.631733
2018-07-01    43.968006
2018-07-08    44.390377
2018-07-15    45.346161
2018-07-22    45.954376
2018-07-29    46.094360
2018-08-05    45.836109
2018-08-12    49.987450
2018-08-19    50.589039
2018-08-26    52.083435
2018-09-02    52.785824
2018-09-09    53.599632
2018-09-16    52.880276
2018-09-23    52.718006
2018-09-30    53.386490
2018-10-07    54.323818
2018-10-14    51.940536
2018-10-21    52.320797
2018-10-28    52.095535
2018-11-04    50.252373
2018-11-11    48.825790
2018-11-18    45.401470
2018-11-25    41.874836
2018-12-02    42.348785
2018-12-09    40.951252
2018-12-16    40.219669
2018-12-23    36.634708
2018-12-30    35.686821
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [ ]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597816
2017-02-28    32.423561
2017-03-31    34.002254
2017-04-30    33.999889
2017-05-31    36.305332
2017-06-30    34.228172
2017-07-31    35.347557
2017-08-31    39.129719
2017-09-30    36.772392
2017-10-31    40.332241
2017-11-30    41.150097
2017-12-31    40.522736
Freq: M, Name: Close, dtype: float64

In [120]:
last_day = aapl.resample('W').agg(lambda x: x[-1])
print(last_day)

Date
2018-01-07    41.904373
2018-01-14    42.404839
2018-01-21    42.732887
2018-01-28    41.068687
2018-02-04    38.432301
2018-02-11    37.605633
2018-02-18    41.457329
2018-02-25    42.195446
2018-03-04    42.366150
2018-03-11    43.272568
2018-03-18    42.801327
2018-03-25    39.656502
2018-04-01    40.339317
2018-04-08    40.483582
2018-04-15    42.010315
2018-04-22    39.844040
2018-04-29    39.026577
2018-05-06    44.198223
2018-05-13    45.517517
2018-05-20    44.967224
2018-05-27    45.515106
2018-06-03    45.915756
2018-06-10    46.268135
2018-06-17    45.577850
2018-06-24    44.631733
2018-07-01    44.677605
2018-07-08    45.367878
2018-07-15    46.178833
2018-07-22    46.205391
2018-07-29    46.094360
2018-08-05    50.199844
2018-08-12    50.264484
2018-08-19    52.698627
2018-08-26    52.354698
2018-09-02    55.132778
2018-09-09    53.599632
2018-09-16    54.214828
2018-09-23    52.718006
2018-09-30    54.675011
2018-10-07    54.323818
2018-10-14    53.795811
2018-10-21    53.117638
2018-10-28    52.388611
2018-11-04    50.252373
2018-11-11    49.696136
2018-11-18    47.037193
2018-11-25    41.874836
2018-12-02    43.403614
2018-12-09    40.951252
2018-12-16    40.219669
2018-12-23    36.634708
2018-12-30    37.971481
Freq: W-SUN, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [ ]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

In [121]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2018-01-31   -0.028039
2018-02-28    0.065957
2018-03-31   -0.041257
2018-04-30   -0.008519
2018-05-31    0.109347
2018-06-30   -0.026966
2018-07-31    0.016615
2018-08-31    0.133639
2018-09-30   -0.011473
2018-10-31   -0.036962
2018-11-30   -0.193578
2018-12-31   -0.154691
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [ ]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.02686331860727394
0.052258487776588924
0.09901841642506737

In [122]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

-0.014660575439773393
0.09441254229874485
0.13363932943884693

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [ ]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825745
2017-03-31    1.578693
2017-04-30   -0.002365
2017-05-31    2.305443
2017-06-30   -2.077160
2017-07-31    1.119385
2017-08-31    3.782162
2017-09-30   -2.357327
2017-10-31    3.559849
2017-11-30    0.817856
2017-12-31   -0.627361
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [123]:
print(last_day.diff())
print(last_day.pct_change())

Date
2018-01-07         NaN
2018-01-14    0.500465
2018-01-21    0.328049
2018-01-28   -1.664200
2018-02-04   -2.636387
2018-02-11   -0.826668
2018-02-18    3.851696
2018-02-25    0.738117
2018-03-04    0.170704
2018-03-11    0.906418
2018-03-18   -0.471241
2018-03-25   -3.144825
2018-04-01    0.682816
2018-04-08    0.144264
2018-04-15    1.526733
2018-04-22   -2.166275
2018-04-29   -0.817463
2018-05-06    5.171646
2018-05-13    1.319294
2018-05-20   -0.550293
2018-05-27    0.547882
2018-06-03    0.400650
2018-06-10    0.352379
2018-06-17   -0.690285
2018-06-24   -0.946117
2018-07-01    0.045872
2018-07-08    0.690273
2018-07-15    0.810955
2018-07-22    0.026558
2018-07-29   -0.111031
2018-08-05    4.105484
2018-08-12    0.064640
2018-08-19    2.434143
2018-08-26   -0.343929
2018-09-02    2.778080
2018-09-09   -1.533146
2018-09-16    0.615196
2018-09-23   -1.496822
2018-09-30    1.957005
2018-10-07   -0.351192
2018-10-14   -0.528008
2018-10-21   -0.678173
2018-10-28   -0.729027
2018-11-04   -2.136238
2018-11-11   -0.556236
2018-11-18   -2.658943
2018-11-25   -5.162357
2018-12-02    1.528778
2018-12-09   -2.452362
2018-12-16   -0.731583
2018-12-23   -3.584961
2018-12-30    1.336773
Freq: W-SUN, Name: Close, dtype: float64
Date
2018-01-07         NaN
2018-01-14    0.011943
2018-01-21    0.007736
2018-01-28   -0.038944
2018-02-04   -0.064195
2018-02-11   -0.021510
2018-02-18    0.102423
2018-02-25    0.017804
2018-03-04    0.004046
2018-03-11    0.021395
2018-03-18   -0.010890
2018-03-25   -0.073475
2018-04-01    0.017218
2018-04-08    0.003576
2018-04-15    0.037712
2018-04-22   -0.051565
2018-04-29   -0.020517
2018-05-06    0.132516
2018-05-13    0.029849
2018-05-20   -0.012090
2018-05-27    0.012184
2018-06-03    0.008803
2018-06-10    0.007674
2018-06-17   -0.014919
2018-06-24   -0.020758
2018-07-01    0.001028
2018-07-08    0.015450
2018-07-15    0.017875
2018-07-22    0.000575
2018-07-29   -0.002403
2018-08-05    0.089067
2018-08-12    0.001288
2018-08-19    0.048427
2018-08-26   -0.006526
2018-09-02    0.053063
2018-09-09   -0.027808
2018-09-16    0.011478
2018-09-23   -0.027609
2018-09-30    0.037122
2018-10-07   -0.006423
2018-10-14   -0.009720
2018-10-21   -0.012606
2018-10-28   -0.013725
2018-11-04   -0.040777
2018-11-11   -0.011069
2018-11-18   -0.053504
2018-11-25   -0.109751
2018-12-02    0.036508
2018-12-09   -0.056501
2018-12-16   -0.017865
2018-12-23   -0.089135
2018-12-30    0.036489
Freq: W-SUN, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [124]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2018-01-07    0.000000
2018-01-14    0.011943
2018-01-21    0.007736
2018-01-28   -0.038944
2018-02-04   -0.064195
2018-02-11   -0.021510
2018-02-18    0.102423
2018-02-25    0.017804
2018-03-04    0.004046
2018-03-11    0.021395
2018-03-18   -0.010890
2018-03-25   -0.073475
2018-04-01    0.017218
2018-04-08    0.003576
2018-04-15    0.037712
2018-04-22   -0.051565
2018-04-29   -0.020517
2018-05-06    0.132516
2018-05-13    0.029849
2018-05-20   -0.012090
2018-05-27    0.012184
2018-06-03    0.008803
2018-06-10    0.007674
2018-06-17   -0.014919
2018-06-24   -0.020758
2018-07-01    0.001028
2018-07-08    0.015450
2018-07-15    0.017875
2018-07-22    0.000575
2018-07-29   -0.002403
2018-08-05    0.089067
2018-08-12    0.001288
2018-08-19    0.048427
2018-08-26   -0.006526
2018-09-02    0.053063
2018-09-09   -0.027808
2018-09-16    0.011478
2018-09-23   -0.027609
2018-09-30    0.037122
2018-10-07   -0.006423
2018-10-14   -0.009720
2018-10-21   -0.012606
2018-10-28   -0.013725
2018-11-04   -0.040777
2018-11-11   -0.011069
2018-11-18   -0.053504
2018-11-25   -0.109751
2018-12-02    0.036508
2018-12-09   -0.056501
2018-12-16   -0.017865
2018-12-23   -0.089135
2018-12-30    0.036489
Freq: W-SUN, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [125]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2018-01-07    0.011943
2018-01-14    0.011943
2018-01-21    0.007736
2018-01-28   -0.038944
2018-02-04   -0.064195
2018-02-11   -0.021510
2018-02-18    0.102423
2018-02-25    0.017804
2018-03-04    0.004046
2018-03-11    0.021395
2018-03-18   -0.010890
2018-03-25   -0.073475
2018-04-01    0.017218
2018-04-08    0.003576
2018-04-15    0.037712
2018-04-22   -0.051565
2018-04-29   -0.020517
2018-05-06    0.132516
2018-05-13    0.029849
2018-05-20   -0.012090
2018-05-27    0.012184
2018-06-03    0.008803
2018-06-10    0.007674
2018-06-17   -0.014919
2018-06-24   -0.020758
2018-07-01    0.001028
2018-07-08    0.015450
2018-07-15    0.017875
2018-07-22    0.000575
2018-07-29   -0.002403
2018-08-05    0.089067
2018-08-12    0.001288
2018-08-19    0.048427
2018-08-26   -0.006526
2018-09-02    0.053063
2018-09-09   -0.027808
2018-09-16    0.011478
2018-09-23   -0.027609
2018-09-30    0.037122
2018-10-07   -0.006423
2018-10-14   -0.009720
2018-10-21   -0.012606
2018-10-28   -0.013725
2018-11-04   -0.040777
2018-11-11   -0.011069
2018-11-18   -0.053504
2018-11-25   -0.109751
2018-12-02    0.036508
2018-12-09   -0.056501
2018-12-16   -0.017865
2018-12-23   -0.089135
2018-12-30    0.036489
Freq: W-SUN, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [ ]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [126]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2018-01-14    0.011943
2018-01-21    0.007736
2018-01-28   -0.038944
2018-02-04   -0.064195
2018-02-11   -0.021510
2018-02-18    0.102423
2018-02-25    0.017804
2018-03-04    0.004046
2018-03-11    0.021395
2018-03-18   -0.010890
2018-03-25   -0.073475
2018-04-01    0.017218
2018-04-08    0.003576
2018-04-15    0.037712
2018-04-22   -0.051565
2018-04-29   -0.020517
2018-05-06    0.132516
2018-05-13    0.029849
2018-05-20   -0.012090
2018-05-27    0.012184
2018-06-03    0.008803
2018-06-10    0.007674
2018-06-17   -0.014919
2018-06-24   -0.020758
2018-07-01    0.001028
2018-07-08    0.015450
2018-07-15    0.017875
2018-07-22    0.000575
2018-07-29   -0.002403
2018-08-05    0.089067
2018-08-12    0.001288
2018-08-19    0.048427
2018-08-26   -0.006526
2018-09-02    0.053063
2018-09-09   -0.027808
2018-09-16    0.011478
2018-09-23   -0.027609
2018-09-30    0.037122
2018-10-07   -0.006423
2018-10-14   -0.009720
2018-10-21   -0.012606
2018-10-28   -0.013725
2018-11-04   -0.040777
2018-11-11   -0.011069
2018-11-18   -0.053504
2018-11-25   -0.109751
2018-12-02    0.036508
2018-12-09   -0.056501
2018-12-16   -0.017865
2018-12-23   -0.089135
2018-12-30    0.036489
Freq: W-SUN, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [ ]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [129]:
import pandas as pd

dict = {'AAPL': [123.5, 124.09, 122.73, 124.18, 123.77],'GOOG':[888.7, 901.71, 902.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2018-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2018-07-03  123.50  888.70  155.58
2018-07-04  124.09  901.71  153.67
2018-07-05  122.73  902.69  152.36
2018-07-06  124.18  918.59  152.94
2018-07-07  123.77  926.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [ ]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850777
2017-12-28    40.965721
2017-12-29    40.522736
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [130]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2018-12-21    36.634708
2018-12-24    35.686821
2018-12-26    38.199944
2018-12-27    37.952038
2018-12-28    37.971481
Name: Close, dtype: float64
Date
2018-12-21    382978400
2018-12-24    148676800
2018-12-26    234330000
2018-12-27    212468400
2018-12-28    169165600
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [ ]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852388  22.440250  21.750952  ...  257666000        0.0             0
2016-02-29  22.450761  22.768308  22.402086  ...  140865200        0.0             0
2016-03-31  25.431520  25.473242  25.236819  ...  103553600        0.0             0
2016-04-30  21.785529  21.954734  21.442488  ...  274126000        0.0             0
2016-05-31  23.226409  23.412967  23.044516  ...  169228800        0.0             0
2016-06-30  22.023112  22.333262  21.990464  ...  143345600        0.0             0
2016-07-31  24.296780  24.380731  24.177849  ...  110934800        0.0             0
2016-08-31  24.773054  24.986412  24.768364  ...  118649600        0.0             0
2016-09-30  26.367388  26.580747  26.212645  ...  145516400        0.0             0
2016-10-31  26.646396  26.782384  26.540888  ...  105677600        0.0             0
2016-11-30  26.300094  26.441492  25.986660  ...  144649200        0.0             0
2016-12-31  27.490193  27.619807  27.202683  ...  122345200        0.0             0

[12 rows x 7 columns]

In [131]:
aapl_2017 = df['2017']
aapl_month = aapl_2017.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2017-01-31  28.550679  28.607238  28.425777  ...  196804000        0.0             0
2017-02-28  32.444870  32.530077  32.354928  ...   93931600        0.0             0
2017-03-31  34.016455  34.146633  33.848407  ...   78646800        0.0             0
2017-04-30  34.104032  34.153737  33.909951  ...   83441600        0.0             0
2017-05-31  36.592909  36.640441  36.215027  ...   97804800        0.0             0
2017-06-30  34.330365  34.451576  34.171132  ...   92096400        0.0             0
2017-07-31  35.625614  35.727811  35.204954  ...   79383600        0.0             0
2017-08-31  39.043836  39.253801  39.005659  ...  107140400        0.0             0
2017-09-30  36.555280  36.774788  36.266578  ...  105199200        0.0             0
2017-10-31  40.060246  40.477789  39.831196  ...  144187200        0.0             0
2017-11-30  40.810073  41.219541  40.333563  ...  166108800        0.0             0
2017-12-31  40.831629  40.848389  40.520339  ...  103999600        0.0             0

[12 rows x 7 columns]

We may select certain columns of a DataFrame using their names:

In [ ]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250
2016-02-29  22.450761  22.768308  22.402086  22.411358
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-04-30  21.785529  21.954734  21.442488  21.727583
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023112  22.333262  21.990464  22.293619
2016-07-31  24.296780  24.380731  24.177849  24.301443
2016-08-31  24.773054  24.986412  24.768364  24.876215
2016-09-30  26.367388  26.580747  26.212645  26.505720
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300094  26.441492  25.986660  26.045576
2016-12-31  27.490193  27.619807  27.202683  27.294592

In [132]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2017-01-31  28.550679  28.607238  28.425777  28.597811
2017-02-28  32.444870  32.530077  32.354928  32.423569
2017-03-31  34.016455  34.146633  33.848407  34.002254
2017-04-30  34.104032  34.153737  33.909951  33.999889
2017-05-31  36.592909  36.640441  36.215027  36.305336
2017-06-30  34.330365  34.451576  34.171132  34.228172
2017-07-31  35.625614  35.727811  35.204954  35.347549
2017-08-31  39.043836  39.253801  39.005659  39.129730
2017-09-30  36.555280  36.774788  36.266578  36.772400
2017-10-31  40.060246  40.477789  39.831196  40.332245
2017-11-30  40.810073  41.219541  40.333563  41.150101
2017-12-31  40.831629  40.848389  40.520339  40.522732

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [ ]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-04-30  21.785529  21.954734  21.442488  21.727583
2016-05-31  23.226409  23.412967  23.044516  23.287041
2016-06-30  22.023112  22.333262  21.990464  22.293619

In [134]:
print(aapl_month.loc['2017-03':'2017-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2017-03-31  34.016455  34.146633  33.848407  34.002254
2017-04-30  34.104032  34.153737  33.909951  33.999889
2017-05-31  36.592909  36.640441  36.215027  36.305336
2017-06-30  34.330365  34.451576  34.171132  34.228172

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [ ]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.431520  25.473242  25.236819  25.262316
2016-08-31  24.773054  24.986412  24.768364  24.876215
2016-09-30  26.367388  26.580747  26.212645  26.505720
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300094  26.441492  25.986660  26.045576
2016-12-31  27.490193  27.619807  27.202683  27.294592

In [135]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2017-05-31  36.592909  36.640441  36.215027  36.305336
2017-08-31  39.043836  39.253801  39.005659  39.129730
2017-09-30  36.555280  36.774788  36.266578  36.772400
2017-10-31  40.060246  40.477789  39.831196  40.332245
2017-11-30  40.810073  41.219541  40.333563  41.150101
2017-12-31  40.831629  40.848389  40.520339  40.522732

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [ ]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [136]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2017-01-31  28.550679  28.607238  28.425777  28.597811          NaN
2017-02-28  32.444870  32.530077  32.354928  32.423569     0.133778
2017-03-31  34.016455  34.146633  33.848407  34.002254     0.048689
2017-04-30  34.104032  34.153737  33.909951  33.999889    -0.000070
2017-05-31  36.592909  36.640441  36.215027  36.305336     0.067807
2017-06-30  34.330365  34.451576  34.171132  34.228172    -0.057214
2017-07-31  35.625614  35.727811  35.204954  35.347549     0.032703
2017-08-31  39.043836  39.253801  39.005659  39.129730     0.107000
2017-09-30  36.555280  36.774788  36.266578  36.772400    -0.060244
2017-10-31  40.060246  40.477789  39.831196  40.332245     0.096808
2017-11-30  40.810073  41.219541  40.333563  41.150101     0.020278
2017-12-31  40.831629  40.848389  40.520339  40.522732    -0.015246

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [ ]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [137]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2017-01-31  False  False  False  False         True
2017-02-28  False  False  False  False        False
2017-03-31  False  False  False  False        False
2017-04-30  False  False  False  False        False
2017-05-31  False  False  False  False        False
2017-06-30  False  False  False  False        False
2017-07-31  False  False  False  False        False
2017-08-31  False  False  False  False        False
2017-09-30  False  False  False  False        False
2017-10-31  False  False  False  False        False
2017-11-30  False  False  False  False        False
2017-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [ ]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

In [138]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2017-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [ ]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250     0.000000
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

In [139]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2017-02-28  32.444870  32.530077  32.354928  32.423569     0.133778
2017-03-31  34.016455  34.146633  33.848407  34.002254     0.048689
2017-04-30  34.104032  34.153737  33.909951  33.999889    -0.000070
2017-05-31  36.592909  36.640441  36.215027  36.305336     0.067807
2017-06-30  34.330365  34.451576  34.171132  34.228172    -0.057214
2017-07-31  35.625614  35.727811  35.204954  35.347549     0.032703
2017-08-31  39.043836  39.253801  39.005659  39.129730     0.107000
2017-09-30  36.555280  36.774788  36.266578  36.772400    -0.060244
2017-10-31  40.060246  40.477789  39.831196  40.332245     0.096808
2017-11-30  40.810073  41.219541  40.333563  41.150101     0.020278
2017-12-31  40.831629  40.848389  40.520339  40.522732    -0.015246

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2017-01-31  28.550679  28.607238  28.425777  28.597811     0.000000
2017-02-28  32.444870  32.530077  32.354928  32.423569     0.133778
2017-03-31  34.016455  34.146633  33.848407  34.002254     0.048689
2017-04-30  34.104032  34.153737  33.909951  33.999889    -0.000070
2017-05-31  36.592909  36.640441  36.215027  36.305336     0.067807
2017-06-30  34.330365  34.451576  34.171132  34.228172    -0.057214
2017-07-31  35.625614  35.727811  35.204954  35.347549     0.032703
2017-08-31  39.043836  39.253801  39.005659  39.129730     0.107000
2017-09-30  36.555280  36.774788  36.266578  36.772400    -0.060244
2017-10-31  40.060246  40.477789  39.831196  40.332245     0.096808
2017-11-30  40.810073  41.219541  40.333563  41.150101     0.020278
2017-12-31  40.831629  40.848389  40.520339  40.522732    -0.015246

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [ ]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [140]:
s1 = pd.Series([123.5, 124.09, 122.73, 124.18, 123.77], name = 'AAPL')
s2 = pd.Series([892.7, 912.71, 902.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  123.50  892.70
1  124.09  912.71
2  122.73  902.69
3  124.18  918.59
4  123.77  926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [ ]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104301
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277361
2016-10-31    3.281686
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN   3.110856
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288   3.109568
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210   3.229314
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921   3.078583
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773   3.147897
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660   3.104301
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063   3.190536
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652   3.213912
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505   3.277361
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334   3.281686
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601   3.259848
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955   3.306689

In [141]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2017-01-31    3.353330
2017-02-28    3.478886
2017-03-31    3.526427
2017-04-30    3.526357
2017-05-31    3.591965
2017-06-30    3.533049
2017-07-31    3.565229
2017-08-31    3.666883
2017-09-30    3.604748
2017-10-31    3.697151
2017-11-30    3.717226
2017-12-31    3.701863
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2017-01-31  28.550679  28.607238  28.425777  28.597811          NaN   3.353330
2017-02-28  32.444870  32.530077  32.354928  32.423569     0.133778   3.478886
2017-03-31  34.016455  34.146633  33.848407  34.002254     0.048689   3.526427
2017-04-30  34.104032  34.153737  33.909951  33.999889    -0.000070   3.526357
2017-05-31  36.592909  36.640441  36.215027  36.305336     0.067807   3.591965
2017-06-30  34.330365  34.451576  34.171132  34.228172    -0.057214   3.533049
2017-07-31  35.625614  35.727811  35.204954  35.347549     0.032703   3.565229
2017-08-31  39.043836  39.253801  39.005659  39.129730     0.107000   3.666883
2017-09-30  36.555280  36.774788  36.266578  36.772400    -0.060244   3.604748
2017-10-31  40.060246  40.477789  39.831196  40.332245     0.096808   3.697151
2017-11-30  40.810073  41.219541  40.333563  41.150101     0.020278   3.717226
2017-12-31  40.831629  40.848389  40.520339  40.522732    -0.015246   3.701863

We can also join two DataFrames by rows. Consider these two DataFrames:

In [ ]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300094  26.441492  25.986660  26.045576
2016-12-31  27.490193  27.619807  27.202683  27.294592
2017-01-31  28.550684  28.607243  28.425783  28.597816
2017-02-28  32.444862  32.530069  32.354920  32.423561
2017-03-31  34.016455  34.146633  33.848407  34.002254
2017-04-30  34.104032  34.153737  33.909951  33.999889

In [142]:
df_volume = aapl_table.loc['2017-10':'2018-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2017-10':'2018-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2017-10-31  144187200             0
2017-11-30  166108800             0
2017-12-31  103999600             0
2018-01-31  129915600             0
2018-02-28  151128400             0
2018-03-31  153594000             0
2018-04-30  169709600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2017-10-31  40.060246  40.477789  39.831196  40.332245
2017-11-30  40.810073  41.219541  40.333563  41.150101
2017-12-31  40.831629  40.848389  40.520339  40.522732
2018-01-31  39.957616  40.333560  39.869019  40.091709
2018-02-28  43.099457  43.426442  42.808539  42.825367
2018-03-31  40.346530  41.293824  40.127738  40.339317
2018-04-30  38.980901  40.214304  38.911174  39.733444

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [ ]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852388  22.440250  ...          NaN           NaN
2016-02-29  22.450761  22.768308  ...          NaN           NaN
2016-03-31  25.431520  25.473242  ...          NaN           NaN
2016-04-30  21.785529  21.954734  ...          NaN           NaN
2016-05-31  23.226409  23.412967  ...          NaN           NaN
2016-06-30  22.023112  22.333262  ...          NaN           NaN
2016-07-31  24.296780  24.380731  ...          NaN           NaN
2016-08-31  24.773054  24.986412  ...          NaN           NaN
2016-09-30  26.367388  26.580747  ...          NaN           NaN
2016-10-31  26.646396  26.782384  ...  105677600.0           0.0
2016-11-30  26.300094  26.441492  ...  144649200.0           0.0
2016-12-31  27.490193  27.619807  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

In [143]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2017-01-31  28.550679  28.607238  ...          NaN           NaN
2017-02-28  32.444870  32.530077  ...          NaN           NaN
2017-03-31  34.016455  34.146633  ...          NaN           NaN
2017-04-30  34.104032  34.153737  ...          NaN           NaN
2017-05-31  36.592909  36.640441  ...          NaN           NaN
2017-06-30  34.330365  34.451576  ...          NaN           NaN
2017-07-31  35.625614  35.727811  ...          NaN           NaN
2017-08-31  39.043836  39.253801  ...          NaN           NaN
2017-09-30  36.555280  36.774788  ...          NaN           NaN
2017-10-31  40.060246  40.477789  ...  144187200.0           0.0
2017-11-30  40.810073  41.219541  ...  166108800.0           0.0
2017-12-31  40.831629  40.848389  ...  103999600.0           0.0
2018-01-31        NaN        NaN  ...  129915600.0           0.0
2018-02-28        NaN        NaN  ...  151128400.0           0.0
2018-03-31        NaN        NaN  ...  153594000.0           0.0
2018-04-30        NaN        NaN  ...  169709600.0           0.0

[16 rows x 7 columns]

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [ ]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646396  26.782384  ...  105677600             0
2016-11-30  26.300094  26.441492  ...  144649200             0
2016-12-31  27.490193  27.619807  ...  122345200             0

[3 rows x 7 columns]

In [144]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2017-10-31  40.060246  40.477789  ...  144187200             0
2017-11-30  40.810073  41.219541  ...  166108800             0
2017-12-31  40.831629  40.848389  ...  103999600             0

[3 rows x 7 columns]

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [ ]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

In [145]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2017-01-31  28.550679  28.607238  28.425777  28.597811          NaN
2017-02-28  32.444870  32.530077  32.354928  32.423569     0.133778
2017-03-31  34.016455  34.146633  33.848407  34.002254     0.048689
2017-04-30  34.104032  34.153737  33.909951  33.999889    -0.000070
2017-05-31  36.592909  36.640441  36.215027  36.305336     0.067807
2017-06-30  34.330365  34.451576  34.171132  34.228172    -0.057214
2017-07-31  35.625614  35.727811  35.204954  35.347549     0.032703
2017-08-31  39.043836  39.253801  39.005659  39.129730     0.107000
2017-09-30  36.555280  36.774788  36.266578  36.772400    -0.060244
2017-10-31  40.060246  40.477789  39.831196  40.332245     0.096808
2017-11-30  40.810073  41.219541  40.333563  41.150101     0.020278
2017-12-31  40.831629  40.848389  40.520339  40.522732    -0.015246
2017-10-31  40.060246  40.477789  39.831196  40.332245          NaN
2017-11-30  40.810073  41.219541  40.333563  41.150101          NaN
2017-12-31  40.831629  40.848389  40.520339  40.522732          NaN
2018-01-31  39.957616  40.333560  39.869019  40.091709          NaN
2018-02-28  43.099457  43.426442  42.808539  42.825367          NaN
2018-03-31  40.346530  41.293824  40.127738  40.339317          NaN
2018-04-30  38.980901  40.214304  38.911174  39.733444          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [ ]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550684  28.607243  28.425783  28.597816          NaN
2017-02-28  32.444862  32.530069  32.354920  32.423561          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

In [146]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2017-01-31  28.550679  28.607238  28.425777  28.597811          NaN
2017-02-28  32.444870  32.530077  32.354928  32.423569     0.133778
2017-03-31  34.016455  34.146633  33.848407  34.002254     0.048689
2017-04-30  34.104032  34.153737  33.909951  33.999889    -0.000070
2017-05-31  36.592909  36.640441  36.215027  36.305336     0.067807
2017-06-30  34.330365  34.451576  34.171132  34.228172    -0.057214
2017-07-31  35.625614  35.727811  35.204954  35.347549     0.032703
2017-08-31  39.043836  39.253801  39.005659  39.129730     0.107000
2017-09-30  36.555280  36.774788  36.266578  36.772400    -0.060244
2017-10-31  40.060246  40.477789  39.831196  40.332245     0.096808
2017-11-30  40.810073  41.219541  40.333563  41.150101     0.020278
2017-12-31  40.831629  40.848389  40.520339  40.522732    -0.015246
2017-10-31  40.060246  40.477789  39.831196  40.332245          NaN
2017-11-30  40.810073  41.219541  40.333563  41.150101          NaN
2017-12-31  40.831629  40.848389  40.520339  40.522732          NaN
2018-01-31  39.957616  40.333560  39.869019  40.091709          NaN
2018-02-28  43.099457  43.426442  42.808539  42.825367          NaN
2018-03-31  40.346530  41.293824  40.127738  40.339317          NaN
2018-04-30  38.980901  40.214304  38.911174  39.733444          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [ ]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN        NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288        NaN
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210        NaN
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921        NaN
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773        NaN
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660        NaN
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063        NaN
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652        NaN
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505        NaN
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334        NaN
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601        NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955        NaN
2016-10-31        NaN  26.782384  26.540888  26.620605          NaN  26.646396
2016-11-30        NaN  26.441492  25.986660  26.045576          NaN  26.300094
2016-12-31        NaN  27.619807  27.202683  27.294592          NaN  27.490193
2017-01-31        NaN  28.607243  28.425783  28.597816          NaN  28.550684
2017-02-28        NaN  32.530069  32.354920  32.423561          NaN  32.444862
2017-03-31        NaN  34.146633  33.848407  34.002254          NaN  34.016455
2017-04-30        NaN  34.153737  33.909951  33.999889          NaN  34.104032

In [147]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2017-01-31  28.550679  28.607238  28.425777  28.597811          NaN        NaN
2017-02-28  32.444870  32.530077  32.354928  32.423569     0.133778        NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254     0.048689        NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889    -0.000070        NaN
2017-05-31  36.592909  36.640441  36.215027  36.305336     0.067807        NaN
2017-06-30  34.330365  34.451576  34.171132  34.228172    -0.057214        NaN
2017-07-31  35.625614  35.727811  35.204954  35.347549     0.032703        NaN
2017-08-31  39.043836  39.253801  39.005659  39.129730     0.107000        NaN
2017-09-30  36.555280  36.774788  36.266578  36.772400    -0.060244        NaN
2017-10-31  40.060246  40.477789  39.831196  40.332245     0.096808        NaN
2017-11-30  40.810073  41.219541  40.333563  41.150101     0.020278        NaN
2017-12-31  40.831629  40.848389  40.520339  40.522732    -0.015246        NaN
2017-10-31        NaN  40.477789  39.831196  40.332245          NaN  40.060246
2017-11-30        NaN  41.219541  40.333563  41.150101          NaN  40.810073
2017-12-31        NaN  40.848389  40.520339  40.522732          NaN  40.831629
2018-01-31        NaN  40.333560  39.869019  40.091709          NaN  39.957616
2018-02-28        NaN  43.426442  42.808539  42.825367          NaN  43.099457
2018-03-31        NaN  41.293824  40.127738  40.339317          NaN  40.346530
2018-04-30        NaN  40.214304  38.911174  39.733444          NaN  38.980901

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.